<%-include('../partials/login_header.ejs')%>
<link rel="stylesheet" href="../../style/animate.css">
<link rel="stylesheet" href="../style/purchage.css">
<form action="/">
    <div class="purchage">
        <div class="header"><h2>Standard</h2></div>
        <div class="about">
            <ul>
                <li>Free to post Image</li>
                <li>Free to comunicate users</li>
            </ul>
        </div>
        <button>Standard</button>
    </div>
</form>
<form action="/payment/momo">
    <div class="purchage">
        <div class="header pro"><h2>Pro</h2></div>
        <div class="about">
            <ul>
                <li>Free to post Image</li>
                <li>Free to comunicate users</li>
                <li>Can interactive inappropriate posts</li>
            </ul>
        </div>
        <button class="pro">250.000 vnđ</button>
    </div>
</form>
<%-include('../partials/footer.ejs')%>