<footer>
    <div class="container">
        <a href="" class="footer-logo">Figure Database</a>
        <div class="footer-menu">
            <a href="">Contact Us</a>
            <a href="">Press Kit</a>
        </div>
        <div class="footer-privacy">
            <a href="" class="hoverable">Terms of Use ー Privacy Policy</a>
            <a href="">Architected by Team 6</a>
        </div>
    </div>
</div>
</footer>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="../script/slider.js"></script>
</body>
</html>