<header>
    <div class="container">
        <div class="header_logo"><a href="/">Figure <span>Database</span></a></div>
        <div class="header_menu">
            <div class="nav_menu">
                <a>Database</a>
                <div class="sub_nav">
                    <a href="">Activity</a>
                    <a href="">Top 100</a>
                    <a href="">Goods</a>
                </div>
            </div>
            <div class="nav_menu">
                <a href="">Community</a>
            </div>
            <div class="nav_menu">
                <a>More</a>
                <div class="sub_nav">
                    <a href="">Characters</a>
                    <a href="">Companies</a>
                    <a href="">Designers</a>
                </div>
            </div>
        </div>
        <div class="header_login">
            <a href="/signup/login" href="">Login</a>
            <a href="/signup/register" href="">Register</a>
        </div>
    </div>
</header>