<script defer src="/script/loginEvent.js"></script>
<header>
    <div class="container">
        <div class="header_logo"><a href="/">Figure <span>Database</span></a></div>
        <div class="header_menu">
            <div class="nav_menu">
                <a>Database</a>
                <div class="sub_nav">
                    <a href="">Activity</a>
                    <a href="">Top 100</a>
                    <a href="">Goods</a>
                </div>
            </div>
            <div class="nav_menu">
                <a href="">Community</a>
            </div>
            <div class="nav_menu">
                <a>More</a>
                <div class="sub_nav">
                    <a href="/character">Characters</a>
                    <a href="/artist">Artist</a>
                </div>
            </div>
            <div class="find">
                <form action="/figure/find">
                    <input type="text" name="name">
                </form>
            </div>
        </div>
        <%if(!user){%>
            <div class="header_login">
                <a href="/signup/login" href="">Login</a>
            </div>
        <%}else{%>
        <div class="header_login">
            <input type="checkbox">
            <div class="user_img">
                <%if(user.img_url){%>
                    <%}else{%>
                        <img src="/detail/unknow.png" alt="">
                <%}%>
            </div>
        </div>
        <div class="form_user user_detail">
            <div class="user_menu">
                <a href="" class="user_img">
                    <%if(user.img_url){%>
                        <%}else{%>
                            <img src="/detail/unknow.png" alt="">
                    <%}%>
                </a>
                <div class="user_name">
                    <a href=""><%=user.username%></a>
                </div>
            </div>
            <div class="user_logout">
                <div class="logout_btn">
                    <a href="/signup/logout">
                        <button>Logout</button>
                    </a>
                </div>
            </div>
        </div>
        <%}%>
    </div>
</header>