<%-include('../partials/login_header.ejs')%>
<link rel="stylesheet" href="/style/404.css">
<div class="errorPage">
    <h1>
        You Go to the wrong site mate <a href="/">go back to it</a>
    </h1>
    <div class="img">
        <img src="./DKke.gif" alt="ganyu">
    </div>
</div>
<%-include('../partials/footer.ejs')%>