<%-include('../partials/login_header.ejs')%>
<div id="toast">

</div>
<main>
    <div class="login_form">
        <div class="login_title">
            <h3>Change password</h3>
            <p>Hello <%=user.username%></p>
        </div>
        <div class="content">
            <form class="login">
                <div class="user_form">
                    <input type="password" class="text" name="password" required>
                    <label for="text">Password</label>
                </div>
                <div class="login_btn">
                    <button>Change Password</button>
                </div>
            </form>
        </div>
    </div>
</main>
<script src="/script/ToastEvent.js"></script>
<script>
    let form = document.querySelector('form');
    form.addEventListener('submit', async function(e){
        e.preventDefault();
        let id = "<%=user.id%>";
        let password = form.password.value;
        try{
            const res = await fetch('/signup/change',{
                method:'POST',
                body: JSON.stringify({id,password}),
                headers:{'Content-Type': 'application/json'}
            });
            const data = await res.json();
            console.log(data);
            // if(data?.err){
            //         toastHandle('Warning','warning',`${data.err.email} ${data.err.username} ${data.err.password}`);        
            //         return;
            //     }
            // if(!data.user){
            //     toastHandle('Error','error','Server cannot create your account. Please try again');
            // }
            // else{
            //     setTimeout(function(){
            //         window.location.assign('/');
            //     },1000)
            //     toastHandle('Login success','success',`Hello ${data.user}`);
            // }
        }
        catch(ex){
            console.log(ex);
        }
    })
</script>
<%-include('../partials/footer.ejs')%>